@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
  .section {
    padding: 10rem 3rem;
  }
  .header-title h1 {
    font-size: 4.4rem;
  }
}

@media (max-width: 60em) {
  /* html {
    font-size: 55%;
  } */
  h1 {
    font-size: 3.4rem;
  }
  .section {
    padding: 7rem 3rem;
  }
  .nav {
    padding: 0 4rem;
  }
  .nav__links {
    transform: translateX(300%);
    position: absolute;
    transition: translateX 0.5s;
  }
  .nav__link:link {
    font-size: 1.8rem;
  }
  .show .nav__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    margin: auto;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.95);
    transform: translate(-50%, -50%);
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    backdrop-filter: blur(4px);
    transition: all 0.5s;
  }
  .operations__content--active {
    column-gap: 2rem;
    row-gap: 0.5rem;
  }
  .operations__icon {
    grid-column: span 2;
    margin: auto;
  }
  .operations__header {
    grid-column: span 2;
  }
  .operations__content--active p {
    grid-column: span 2;
  }
  .phone-menu {
    display: block;
    cursor: pointer;
  }
  .header__title {
    grid-template-columns: 100%;
  }
  .features {
    grid-template-columns: 1fr;
    gap: 3rem;
    margin: 0 2rem;
  }
  .features img[data-src='img/grow.jpg'] {
    grid-row: 3;
  }
  .features__feature {
    width: 90%;
    font-size: 1.6rem;
  }
  .operations__tab-container {
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    margin: 0 auto;
  }
  .operations__tab {
    margin: 0;
  }
  .operations__content {
    padding: 1.5rem 1.5rem 3.5rem 2rem;
  }
  .section__header {
    font-size: 2.4rem;
  }
  .slider {
    height: 65rem;
  }
  .slide {
    height: 65rem;
  }
  .testimonial {
    width: 85%;
  }
  .slide .testimonial::before {
    top: -5.7rem;
    left: -0.8rem;
    font-size: 12rem;
    padding: 2rem 0;
  }
  .operations {
    margin: 9rem auto 0 auto;
  }
  .footer__nav {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    margin-bottom: 5rem;
    justify-items: start;
  }
  .footer__item {
    margin-right: 0;
  }
  .section--sign-up .btn {
    padding: 1.25rem 3.5rem;
  }
}
